<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="ElevenTail" />
<meta name="twitter:creator" content="@philhawksworth" />
<meta property="og:url" content="https://eleventail.netlify.com/" />
<meta property="og:title" content="ElevenTail" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A running start for JAMstack projects with Eleventy, TailwindCSS and some Netlify goodies{%- endif -%}" />
<meta property="og:image" content='https://eleventail.netlify.com/images/og-card.jpg' />
