---
title: ElevenTail
layout: default
---
<div class="pr-32 md:pr-56 text-right mb--4">
  <a href="/about#possum" class="naked-link">
    <img src="/images/possum-balloon.png" alt="The James Williamson Possum Balloon" class="inline-block filter-bw-800">
  </a>
</div>
<div class="p-6 bg-teal-500 text-white ">
  <h1 class="text-6xl pb-6 border-b-2 border-white leading-none font-serif">
    ElevenTail Site Scaffold
  </h1>
  <p class="text-xl mt-2 leading-tight">
    A running start for web projects with <a href="https://11ty.dev" target="_BLANK" rel="noopener">Eleventy</a> for site generation, <a href="https://tailwindcss.com" target="_BLANK" rel="noopener">Tailwind</a> for utility-first CSS, and a few other goodies.
  </p>
  <p class="text-xl mt-4 leading-tight">
    <a href="https://app.netlify.com/start/deploy?repository=https://github.com/philhawksworth/eleventyone">Clone with a click</a>, or <a href="/about">learn more</a>
  </p>
</div>

<div class="text-right my-6 px-8 text-2xl font-medium text-gray-700">
  <p class="inline-block max-w-sm leading-tight">
    By <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>, but based on the generous work of others
  </p>
</div>
